<!--<app-toolbar></app-toolbar>-->
<!--<app-navigation-tabs></app-navigation-tabs>-->
<p>Purchases</p>
<!--<div fxLayout="row" fxLayoutAlign="space-between stretch" >-->
<!--  <div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="10px">-->
<!--    <button mat-mini-fab color="primary" (click)="onChangeTheme()"><i class="material-icons">format_color_fill</i></button>-->
<!--    <span *ngIf="isTheme">-->
<!--        <button mat-mini-fab style="background-color: #673ab7" (click)="onSetTheme('my-app-theme')"></button>-->
<!--        <button mat-mini-fab style="background-color: #e91e63" (click)="onSetTheme('pink-theme')"></button>-->
<!--        <button mat-mini-fab style="background-color: #80deea" (click)="onSetTheme('light-theme')"></button>-->
<!--      </span>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="end">-->
<!--    <button mat-raised-button color="primary">primary</button>-->
<!--    <button mat-raised-button color="accent">accent</button>-->
<!--    <button mat-raised-button color="warn">warn</button>-->
<!--  </div>-->
<!--</div>-->
<h1 i18n="site header|An introduction header for this sample@@introductionHeader">Hello i18n!</h1>
<h1 i18n="site header|An introduction header for this sample@@introductionHeader2">goodbye i18n!</h1>
