@import '~@angular/material/theming';
@include mat-core();
@import "../abstracts/colors";

.mat-form-field-ripple {
  background-color: $GREEN_MEDIUM;
}

.mat-form-field-invalid .mat-form-field-ripple {
  background-color: $RED-DARK;
}

.mat-focused .mat-form-field-label {
  color: $GREEN_MEDIUM;
}

.mat-form-field-invalid .mat-form-field-label {
  color: $RED-DARK;
}

input,
.mat-form-field {
  border: 1px solid $GREY-NORMAL;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-success {
  background-color: $GREEN_MEDIUM;
}

// Default (purple) theme
$my-app-primary: mat-palette($mat-deep-purple, 500);
$my-app-accent:  mat-palette($mat-deep-purple, 900);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

// Pink theme
$pink-primary: mat-palette($mat-pink, 500);
$pink-accent:  mat-palette($mat-pink, 100);
$pink-warn:    mat-palette($mat-orange, 500);
$pink-theme:   mat-light-theme($pink-primary, $pink-accent, $pink-warn);

.pink-theme {
  @include angular-material-theme($pink-theme);
}

// Blue theme
$light-primary: mat-palette($mat-cyan, 500);
$light-accent: mat-palette($mat-blue, 900);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme)
}
