/* BASIC COLORS */

$GREEN_DARK: #2f5031;
$GREEN_MEDIUM: #2A641B;
$GREEN_LIGHT: #6CA870;
$BLACK: #000;
$WHITE: white;

/* OTHER COLORS*/
$WHITE_PALE: #f2f2f2;
$GREY-94: #f0f0f0;
$GREY-99: #fcfcfc;
$GREY-NORMAL: #ccc;
$GREY-LIGHT: #888888;
$GREY-DARK: #666;
$BLUE-LIGHT: #68a3d6;
$BLUE-MEDIUM: #4382b7;
$BLUE-DARK: #286090;
$RED-DARK: #a94442;

$SUCCESS: #3c763d;
$SUCCESS-LIGHT: #dff0d8;
$SUCCESS-LIGHTER: #d6e9c6;
$SUCCESS-DARK: #2b552b;

$ERROR: #a94442;
$ERROR-LIGHT: #f2dede;
$ERROR-LIGHTER: #ebccd1;
$ERROR-DARK: #813332;

$INFO: #31708f;
$INFO-LIGHT: #d9edf7;
$INFO-LIGHTER: #bce8f1;
$INFO-DARK: #275972;

$WARNING: #8a6d3b;
$WARNING-LIGHT: #fcf8e3;
$WARNING-LIGHTER: #faebcc;
$WARNING-DARK: #6b552e;
