md-tab-group.md-tab {
  //align-items: center;
  //align-self: center;
  align-content: center;
}

app-recon-tabs {
  width: 100%;
}

md-tab-content {
  overflow: auto;
}

.fill {
  width: 100%;
  height: 100%;
}

/* To enable floating tab headers / scrollable tab body */

/* TODO: Need to enable this somehow
.mat-tab-body-wrapper {
  height: 100%;
  height: -webkit-fill-available;
}
*/
mat-tab-body-content {
  width: 100%;
  height: 90vh !important;
}
