@import "../../../styles/abstracts/variables";

.toolbar__space {
  flex: 1 1 auto;
}

.toolbar__icon-wrapper {
  cursor: pointer;
  margin: 0 10px;

  .toolbar__icon {
    font-size: $font-size-xxxx-large * 1px;
  }
}
